@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  font: 14px sans-serif;
}

input:focus {
  outline: none;
  border: 2px solid #1f43f4be;
}

input:invalid {
  outline: none;
  border: 2px solid red;
}

.or {
  position: relative;
}

.or::after {
  content: "";
  width: 75px;
  height: 1px;
  background-color: #6C737F;
  position: absolute;
  right: 5px;
  top: 7px;
}

.or::before {
  content: "";
  width: 75px;
  height: 1px;
  background-color: #6C737F;
  position: absolute;
  left: 5px;
  top: 7px;
}

.fw-3 {
  font-weight: 300;
}

